name: Regenerate component definition content
on:
  push:
    branches:
      - main
    paths:
      - 'profiles/**'
      - 'catalogs/**'
      - 'component-definitions/**'

jobs:
  update:
    name: Regenerate content
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Generate app token
        uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a
        id: get_installation_token
        with: 
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.PRIVATE_KEY }}
          permissions: >-
            {"contents": "write", "pull_requests": "write"}
      - name: Clone
        uses: actions/checkout@v3
        with:
          token: ${{ steps.get_installation_token.outputs.token }}
      - name: Regenerate component definitions
        id: regenerate
        uses: RedHatProductSecurity/trestle-bot/actions/autosync@v0.4.2
        with:
          markdown_path: "markdown/components"
          oscal_model: "compdef"
          file_pattern: "markdown/*"
          branch: "autoupdate-${{ github.run_id }}"
          target_branch: "main"
          skip_assemble: true
          commit_user_name: "trestle-bot[bot]"
          commit_user_email: "136850459+trestle-bot[bot]@users.noreply.github.com"
          github_token: ${{ steps.get_installation_token.outputs.token }}