name: Transform Rules

on:
  workflow_call:
    inputs:
      branch:
        required: true
        type: string

# Using concurrency to ensure any branch-modifying workflows are not run at the same time.
concurrency:
  group: sync-${{ inputs.branch }}
  cancel-in-progress: true

jobs:
  transform-rules:
    name: Transform rules content
    runs-on: ubuntu-latest
    steps:
      - name: Generate app token
        uses: tibdex/github-app-token@v2.1.0
        id: get_installation_token
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.PRIVATE_KEY }}
          permissions: >-
            {"contents": "write"}
      - name: Clone
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.branch }}
          token: ${{ steps.get_installation_token.outputs.token }}
      - name: Transform rules
        id: transform
        uses: RedHatProductSecurity/trestle-bot/actions/rules-transform@v0.9.0
        with:
          file_pattern: "*.json,rules/*"
          branch: ${{ inputs.branch }}
          commit_message: "Transform rules to OSCAL [skip ci]"
          commit_user_name: "trestle-bot[bot]"
          commit_user_email: "136850459+trestle-bot[bot]@users.noreply.github.com"
      - name: Regenerate component definitions
        uses: RedHatProductSecurity/trestle-bot/actions/autosync@v0.9.0
        with:
          markdown_path: "markdown/components"
          oscal_model: "compdef"
          file_pattern: "markdown/*"
          branch: ${{ inputs.branch }}
          skip_assemble: true
          commit_message: "Generate markdown changes [skip ci]"
          commit_user_name: "trestle-bot[bot]"
          commit_user_email: "136850459+trestle-bot[bot]@users.noreply.github.com"
