name: Update upstream content

on:
  workflow_dispatch:
    inputs:
      ref:
        description: 'Reference to sync from'
        required: false
        default: 'main'

jobs:
  update:
    name: Run update
    runs-on: ubuntu-latest
    steps:
      - name: Generate app token
        uses: tibdex/github-app-token@v2.1.0
        id: get_installation_token
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.PRIVATE_KEY }}
          permissions: >-
            {"contents": "write", "pull_requests": "write"}
      - name: Clone
        uses: actions/checkout@v4
        with:
          token: ${{ steps.get_installation_token.outputs.token }}
      - name: Update from upstream repo
        id: sync_upstreams
        uses: RedHatProductSecurity/trestle-bot/actions/sync-upstreams@v0.9.0
        with:
          branch: "sync-upstream-${{ github.run_id }}"
          target_branch: "main"
          commit_message: "Updates content from oscal-profiles repository [skip ci]"
          pull_request_title: "Updates content from oscal-profiles repository"
          commit_user_name: "trestle-bot[bot]"
          commit_user_email: "136850459+trestle-bot[bot]@users.noreply.github.com"
          github_token: ${{ steps.get_installation_token.outputs.token }}
          sources: |
            https://github.com/RedHatProductSecurity/oscal-profiles@${{ github.event.inputs.ref }}
      - name: Regenerate component definitions
        if: ${{ steps.sync_upstreams.outputs.commit }}
        uses: RedHatProductSecurity/trestle-bot/actions/autosync@v0.9.0
        with:
          markdown_path: "markdown/components"
          oscal_model: "compdef"
          file_pattern: "markdown/*"
          branch: "sync-upstream-${{ github.run_id }}"
          skip_assemble: true
          commit_message: "Generate markdown changes [skip ci]"
          commit_user_name: "trestle-bot[bot]"
          commit_user_email: "136850459+trestle-bot[bot]@users.noreply.github.com"

